.Header {
  padding: 1rem 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header_logo {
  font-weight: 700;
}