.Footer {
  padding: 1rem 0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}
.cv-link {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: #1f497d;
  &:hover {
    text-decoration: underline;
  }
}