.cv-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}
.cv-section {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
  &:hover {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 117, 255, 0.07), 0px 4px 20px rgba(0, 117, 255, 0.1);
    border: 1px solid #0080f2;
    transition: all 0.3s ease-out;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__cropper {
    align-self: center;
  }
  &__holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 12rem);
  }

  &__contacts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__contacts-item {
    margin: 0 0 1rem;
    padding-right: 2rem;
    padding-left: 2.5rem;
    position: relative;
    width: 50%;
    max-width: 98%;
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}


.cv-title-1,
.cv-title-2,
.cv-subtitle {
  position: relative;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin: 0 0 0.5rem;
  padding: 0 1rem;
  text-align: center;
  color: #1f497d;
}
.cv-title-1 {
  font-size: 2rem;
  line-height: 2.5rem;
  .h2 {
    font-weight: 500;
  }
}
.cv-title-2 {
  .h2 {
    display: inline-block;
    position: relative;
    font-weight: 500;
    padding: 0 1rem;
    background: #fff;
    max-width: 100%;
  }
}
.cv-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: top;
  color: #000;
  text-align: center;
  margin-bottom: 1.25rem;
}
.cv-description,
.cv-title-section {
  padding: 0.2rem 0;
  transition: 0.3s all ease;
}

.isLine {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 0.125rem;
    background: #1f497d;
  }
}
.isUppercase {
  text-transform: uppercase;
}

.contacts-icon {
  position: absolute;
  left: 0;
  top: 49%;
  transform: translateY(-50%);
  width: 2.25rem;
  color: #1f497d;
  cursor: pointer;
}
