.cv-body,
.cv-html {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cv-title-1,
.cv-title-2,
.cv-title-3,
.cv-title-4,
.cv-title-5,
.cv-text {
  padding: 0 0.4rem;
  transition: 0.4s all ease;
  &:focus {
    background-color: #f3f3f3;
  }
}

.isUppercase {
  text-transform: uppercase;
}

@media print {
  body,
  html {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  p {
    padding: 0 0.4rem;
  }
}

@page {
  size: auto;
  margin: 20mm;
}
